.age_range {
  width: 50%;
}

.error:first-child {
  border: 2px solid var(--color-primary-500);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.error:last-child {
  border: 2px solid var(--color-primary-500);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.tilde {
  border-left: 1px solid var(--color-gray-500);
  border-right: 1px solid var(--color-gray-500);
  height: 2rem;
  padding: 0 0.5rem;
  display: grid;
  place-items: center;
  font-size: 0.75rem;
}
